{% extends 'portfolio/base.html' %}

{% block content %}

{% load static %}
<head>
      <link rel="stylesheet" href="{% static 'portfolio/css.css' %}">
</head>



   <img src="{% static 'portfolio/square_main_photo.jpg' %}" class="main-photo">
   <h1 class="head-title">This web-site own supreme commander-in-chief - Eugene Mefyod</h1>
    <div class="blog-container">
    {% for project in projects %}

        <div class="blog-one">
            <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                    <img class="blog_picture" src='{{ project.image.url }}'>
    {% if project.url %}
    <br><a  class="blog-link" href = "{{ project.url }}">link</a>
                </div>
    {% endif %}

    {% endfor %}

    </div>

{% endblock %}




