{% extends 'portfolio/base.html' %}

{% block content %}
<h1 class="head-title">Eugene Mefyod have writed 1 blog</h1>
{% for blog in blogs %}
<div class="all-blogs-container">
    <div class="all-blogs-one">
        <a href={% url 'blog:detail' blog.id %}><h2 class="blog-title">{{ blog.title }}</h2></a>
            <p class="datetime">{{ blog.datetime|date:'M d Y'|upper}}</p>
                <p class="blog-description">{{ blog.description|safe|truncatechars:100  }}</p>


    </div>
</div>


{% endfor %}

{% endblock %}