.collapse navbar-collapse {
    font-size: 48px;
}

.main-photo {
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.head-title {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}
.blog_picture {
    width: 300px;
}